.statistics-page__title-wrap {
  display: flex;
  justify-content: space-between;
}

html[data-theme='dark'] .statistics-page__select--custom div {
  filter: invert(90%);
}

.statistics-page__title {
  margin-bottom: 40px;
  font-family: 'SF UI';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.statistics-page__select {
  padding: 0 20px;
  width: 370px;
  height: 55px;
  border: none;
  border-radius: 0;
  background-color: var(--grayF4);
  transform: translateY(-14px);
}
.statistics-page__select--custom {
  transform: translateY(-14px);
  z-index: 999;
}

.box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}
