.timer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px;
  height: 55px;
}

.timer__header--stop {
  background-color: var(--greyC4);
}

.timer__header--run {
  background-color: var(--green);
}

.timer__header--pause {
  background-color: var(--tomato);
}

.timer__header-task {
  font-weight: 700;
  line-height: 17px;
  color: var(--white);
}

.timer__header-count {
  font-weight: 400;
  line-height: 17px;
  color: var(--white);
}
