.wrap-chart {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 296px 32px 952px;
  grid-template-rows: 260px 32px 179px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'wrap-chart__day_week . wrap-chart__chart'
    '. . wrap-chart__chart'
    'wrap-chart__count . wrap-chart__chart';
  transition: color, background-color 0.3s linear;
}

.wrap-chart__chart {
  grid-area: wrap-chart__chart;
  background-color: var(--grayF4);
  transition: color, background-color 0.3s linear;
}

.wrap-chart__day_week {
  grid-area: wrap-chart__day_week;
  background-color: var(--grayF4);
  transition: color, background-color 0.3s linear;
}

.wrap-chart__count {
  grid-area: wrap-chart__count;
  background-color: var(--grayF4);
  transition: color, background-color 0.3s linear;
}
