.form-tasks {
  margin-bottom: 25px;
}

.form-tasks__input {
  padding-left: 15px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  max-width: 72%;
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--grayF4) !important;
  color: var(--black) !important;
  transition: color, background-color 0.3s linear;
}

.form-tasks__input:focus {
  box-shadow: 0 0 0 0.25rem rgba(8, 138, 47, 0.377);
}

/* Современные браузеры
----------------------------  */
.form-tasks__input::placeholder {
  color: var(--gray99);
}

/* WebKit, Edge
  ----------------------------  */
.form-tasks__input::-webkit-input-placeholder {
  color: var(--gray99);
}

/* Edge
  ----------------------------  */
.form-tasks__input::-ms-input-placeholder {
  color: var(--gray99);
}

/* Firefox 4-18
  ----------------------------  */
.form-tasks__input:-moz-placeholder {
  color: var(--gray99);
  opacity: 1;
}

/* Firefox 19+
  ----------------------------  */
.form-tasks__input::-moz-placeholder {
  color: var(--gray99);
  opacity: 1;
}

/* IE 10-11
  ----------------------------  */
.form-tasks__input:-ms-input-placeholder {
  color: var(--gray99);
}

.form-tasks__error {
  margin: 0;
  padding: 0;
  color: var(--tomatoHight);
  transform: translateY(10px);
}
